@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.footer {
  background: #111;
  padding: 2rem 0;
}

.pagination-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: transparent;
  display: inline-block;
}

.dot.active {
  background: #fff;
}